input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
}

input[type="time"] {
    width: 100px;
    text-align: center;
    display: inline;
}

div.btn{
    font-size: smaller;
    padding: 3px;
    width: 30px;
    border: none;
}
